/TPRoguelike/bin/*
/TPRoguelike/obj/*
# Visual Studio
.vs/

# Visual Studio Code
.vscode/

# Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.cache

# Logs
*.log

# Fichiers temporaires
*.tmp
*.temp

# Fichiers de configuration utilisateur
*.suo
*.user
*.userosscache
*.sln.docstates

# Système
.DS_Store
Thumbs.db
